@font-face {
    font-family:'Athelas-Bold';
    src: local('Athelas-Bold'), url(../fonts/Athelas-Bold.ttf);
}
@font-face {
    font-family: 'Athelas-Regular';
    src: local('Athelas-Regular'), url(../fonts/Athelas-Regular.ttf);
}
.article-div {
    background-color: #FFD6C7;
    margin: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.article-text {
    padding: 50px;
}

.article-title {
    font-family: 'Athelas-Bold';
    font-size: 3rem;
    padding: 5px;
}

.article-text p {
    font-family:'Athelas-Regular';
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.5;
}